
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
    font-family:'Nunito';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-image: url('https://kebook.com.br/files/imgs/back-top-home.png');
    background-size: cover;
    background-position: center;
    background-repeat:  no-repeat;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
nav, ul{
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.logo{
  display: flex;
  align-items: center;

}
.logo img{
  width: 125px;
  align-self: center;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    margin: auto 150px;
}
.info-btns{
  display: flex;
  width: 520px;
  gap: 10px;
}
.info-btns-shop{
    background: orangered;
    border-radius: 30px;
    padding: 10px 35px;
    border: 2px solid orangered;
}
.info-btns-teach{
    border: 2px solid white;
    padding:  10px 35px;
    border-radius: 30px;
}

.info-login{
    display: flex;
    width: 310px;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}
.info-login a{
    text-decoration: underline;
    font-weight: 600;
}
.info-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 530px;
    
}
.info-text h1{
    font-weight: 300;
    font-size: 5rem;
    width: 400px;
    line-height: 80px;
}
.login{
  border: solid 1px white;
  border-radius: 50px;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
}
.ilustra-home{
    width: 400px;
    position: relative;
    z-index: 1;
    top: 60px;
}
.advantages{
    display: flex;
    background-color: #e9ecef;
    color: #3E464F;
    justify-content: center;
    padding-top: 40px;
    height: 300px;
    align-items: center;
}
.advantage{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.advantage h2{
  width: 200px;
  font-size: 18px;
  font-weight: 800;
}
.advantage p{
  width: 250px;
}
.advantage img{
  width: 80px;
}
.category{
  display: flex;
  align-items: center;
  gap: 5px;
}

.hamburger {
  width: 1em;
  height: 12px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger div {
  position: relative;
  width: 1em;
  height: 2px;
  border-radius: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

#toggle {
  display: none;
}

#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 5px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -6px;
}

.search-input{
  display: none;
  border: solid 1px white;
  border-radius: 50px;
}
.search-box{
  display: flex;
  gap: 2px;
}
